[submodule "themes/lotusdocs"]
	path = themes/lotusdocs
	url = https://github.com/colinwilson/lotusdocs
[submodule "themes/tailbliss"]
	path = themes/tailbliss
	url = https://github.com/nusserstudios/tailbliss
