.dark\:bg-gray-900:is(.dark *) {
  background-color: rgb(8 14 38);
}

.dark\:bg-gray-900\/10:is(.dark *) {
  background-color: rgb(8 14 38 / 0.1);
}

.dark\:bg-gray-900\/50:is(.dark *) {
  background-color: rgb(8 14 38 / 0.5);
}

.border-left-blue {
  border-left: 6px solid rgba(48, 90, 217, 1);
}

.border-left-green {
  border-left: 6px solid rgba(54, 217, 125, 1);
}

.border-left-purple {
  border-left: 6px solid rgba(182, 99, 223, 1);
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.main-bg {
  background-position: 50% bottom;
  background-repeat: no-repeat;
  opacity: 60%;
  background-size: cover;
}

.bg-img {
  background-position: 10% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.dark\:bg-size-unset:is(.dark *) {
  background-size: unset;
}

.bg-gradient-right {
  background: radial-gradient(50% 165% at 0% 70%, #070B0E 0%, #0E1A3E 100%);
}

.bg-gradient-left {
  background: radial-gradient(75% 190% at 78% 55%, #070B0E 0%, #0E1A3E 100%);
}

.dark\:bg-gradient:is(.dark *) {
  background: radial-gradient(20% 50% at 50% 50%, #305AD9 0%, rgba(48, 90, 217, 0) 100%);
}

.pb-45 {
  padding-bottom: 45%;
}

.dark\:bg-l-gradient:is(.dark *) {
  background: linear-gradient(90deg, #080E26 0.5%, rgba(8, 14, 38, 0.754671) 15%, rgba(8, 14, 38, 0) 30%) left, linear-gradient(270deg, #080E26 0.5%, rgba(8, 14, 38, 0.754671) 15%, rgba(8, 14, 38, 0) 30%) right;
}

.font-green {
  color: var(--Base-secondary-500, rgba(54, 217, 125, 1));
}

.top-1\/2 {
  top: 50%;
}

.transform-y {
  transform: translateY(-50%);
}

.opacity-30 {
  opacity: 30%;
}

button {
  background-color: rgba(48, 90, 217, 1);
}

.justify-end {
  justify-content: end;
}

@media (min-width: 768px) {
  .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:col-span-3-7 {
    grid-column: 3 / 7;
  }

  .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:col-span-1 {
    grid-column: span 1 / span 1;
  }
}

@media (min-width: 1024px) {

  .lg\:gap-8 {
    gap: 2rem;
  }
}