<div class="relative px-1 pt-8 pb-4 bg-transparent lg:px-8 lg:pt-12 lg:mb-4 md:mt-12">
  <div class="absolute inset-0">
    <div class="bg-gray-200 dark:bg-gray-900/50 h-1/3 h-full"></div>
  </div>
  <div class="relative px-2 mx-auto max-w-7xl">
    <div class="text-center">
      <h2 class="text-3xl font-black tracking-tight text-gray-900 dark:text-white sm:text-4xl">
        We're proudly funded by
      </h2>
    </div>

    <div class="mx-auto text-gray-900 max-w-7xl dark:text-gray-50 md:px-1.5">
      <div class="px-4 text-gray-900 dark:text-white not-prose dark:text-zinc-200">
        <div class="grid gap-4 mx-auto mt-12 mb-4 lg:max-w-none md:grid-cols-4">
          {{ range .Site.Params.About.Funded_by }}
          <div class="flex flex-col items-center justify-center overflow-hidden rounded-lg shadow-lg dark:bg-gray-900">
            {{ with .featured_image }}
            {{ with resources.Get . }}
            {{ $postimage := .RelPermalink }}
            <img src="{{ $postimage }}" class="object-fill overflow-hidden rounded-t-lg logo-invert"  loading="lazy" alt="{{ .Title }}" />
            {{ end }}
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>