name: Lighthouse CI

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  lighthouse:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.134.2"
          extended: true

      - name: Build Hugo site
        run: hugo --minify

      - name: Run Lighthouse CI
        run: npx lhci autorun

      - name: Upload Lighthouse results
        uses: actions/upload-artifact@v4
        with:
          name: lighthouse-results
          path: lhci-results
